.wrapper {
	height: 100vh;
	display: flex;
	flex-direction: column;

	.toggle-editor-btn {
		position: absolute;
		right: 0em;
	}

	.editor {
		background-color: white;
		overflow: hidden;
		max-height: 25%;

		&--hidden {
			display: none;
		}
	}
	.navigation {
		flex-grow: 1;
	}
}
