@mixin editor-icon-btn {
	border-radius: 1em;
	border: solid 0.1em black;
	height: 2em;
	width: 2em;
	background-repeat: no-repeat;
	background-size: 70%;
	background-position: center;
	display: block;
}

@mixin editor-btn {
	background-color: white;
	border: solid 1px;
}

.wrapper {
	height: 100%;
	display: flex;
	flex-direction: column;

	.editor-icon-btn {
		&__edit {
			@include editor-icon-btn;
			background-image: url(../images/icons/pencil.svg);
		}

		&__delete {
			@include editor-icon-btn;
			background-image: url(../images/icons/close.svg);
		}
	}

	.editor {
		background-color: white;
		overflow: hidden;
		max-height: 25%;
		display: flex;
		align-items: center;

		&--hidden {
			display: none;
		}

		& * {
			margin-left: 1em;
		}

		&__button {
			@include editor-btn;

			&__toggle {
				@include editor-btn;
				position: absolute;
				right: 0em;
			}
		}
	}
}
