.accordian {
	&__header {
		background-color: sandybrown;
		padding: 0.3em;
		font-size: 1.2rem;
		display: flex;

		.editor-icon-btn__delete {
			position: absolute;
			right: 0;
		}
	}

	&__content {
		background-color: pink;
		transition: height 500ms;
		overflow: auto;
		height: max(15em, calc(100vh / 5));

		&--hidden {
			height: 0;
		}

		.placeholder {
			height: 100%;
			background: none;
		}
	}
}
