.accordian {
	min-height: 6.25rem;

	&__header {
		background-color: sandybrown;
		padding: 0.3rem;
		font-size: 1.2rem;
	}

	&__content {
		background-color: pink;
		min-height: 12.5rem;

		&--hidden {
			display: none;
		}
	}
}
