.accordian {
	&__header {
		background-color: sandybrown;
		padding: 0.3em;
		font-size: 1.2rem;
	}

	&__content {
		background-color: pink;
		transition: height 500ms;
		padding: 0.3em;
		overflow: auto;
		height: 15em;

		&--hidden {
			height: 0;
		}

		& .placeholder {
			height: 100%;
			background: none;
		}
	}
}
